html {
    height: 100%;
    cursor: url('mkewk_tenna_cursor/NORMAL.cur'), auto;
}

@font-face {
    font-family: shuck-regular;
    src: url(Shuck-Regular.ttf);
}

h1 {
    font-family: "shuck-regular", Georgia, Times, Times New Roman, serif;
    font-style: normal;
    font-size: 50px;
}

.jacquard-24-regular {
    font-family: "Jacquard 24", Georgia, Times, Times New Roman, serif;
    font-style: normal;
    font-weight: 400;

}

.sour-gummy-regular {
    font-family: "Sour Gummy", Georgia, Times, Times New Roman, serif;
    font-style: normal, sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

a {
    cursor: url("mkewk_tenna_cursor/LINK.cur"), auto;
    color: #a84f5f;
    text-decoration: none;
}

a:hover {
    color: #7c0000;
    cursor: url("mkewk_tenna_cursor/LINK.cur"), auto;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: dashed;
    background-color: transparent;

}

.logo {
    filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.3));
    max-height: 200px;
    position: relative;
    margin: auto auto -60px auto;
    animation: Float 2s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
    z-index: 2;
}

@keyframes Float {
    from {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(0px);
    }
}

.--index {
    background-image: url(images/backgrounds/kuraidot90.png);
    background-position: 1791px 0;
    background-attachment: fixed;
    position: relative;
    image-rendering: pixelated;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: background-slide 25s linear infinite;
    animation-play-state: running;
}

@keyframes background-slide {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1791px 0;
    }
}

.main--index {
    background-image: url(images/backgrounds/flecked-lightpink.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: min(95%, 50em);
    margin-inline: auto;
    padding: 1em 1.5em;
    border-radius: 0.5px;
    filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.3));
    margin-bottom: 150px;
    z-index: 1;

}

.footer--index {
    background-image: url(images/backgrounds/flecked-lightpink.png);
    background-position: center;
    position: relative;
    padding: 1em 1.5em;
    background-size: cover;
    background-repeat: no-repeat;
    width: min(95%, 50em);
    filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.3));
    margin: auto auto 50px auto;
    z-index: 1;
    
}

p:not(.footer--index p, .--imgsrc p) {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 5px;
}

p:not(.footer--index p, .--imgsrc p).para {
    text-indent: 0.5in;
}

.dottedhr {
    border-width: 6px 0 0 0;
    border-style: dotted;
    margin-top: 15px;
    margin-left: -5px;
    color: #a84f5f;
}

.flex--index {
    display: flex;
    flex-flow: row wrap;
}

.indexinfo li {
    flex: 1 1 400px;
    font-family: "Sour Gummy", Georgia, Times, Times New Roman, serif;
    list-style-type: none;
    padding: 5px 30px;
    background-image: url(images/button.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.pagedoll--index {
    max-width: 60%;
    filter: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.2));
    position: absolute;
    bottom: -11em;
    right: -10em;
}

.footer--index {
    text-align: center;
    background: url("/images/backgrounds/pinkdots.png");
    background-color: #fcedea;
    font-family: shuck-regular, Georgia, Times, Times New Roman, serif;
}

.buttons--index {
    margin-top: 20px;
}
